<div id="contacts" class="main">
    <div class="content-handler ">
        <h1 class="header">
            @if (lang=="Uzbek") {
            HOZIROQ QO'NG'IROQ QILING VA SKIDKANI QO'LGA KIRITING 10%!
            }
            @else if (lang=="Russian") {
            ЗВОНИТЕ СЕЙЧАС И ПОЛУЧИТЕ СКИДКУ 10%!
            }
        </h1>
    </div>
    <div class="content-handler">
        <p class="phone-number">+998 (93) 538-22-10</p>
    </div>
    <div class="content-handler">
        <p class="phone-number">+998 (93) 538-22-10</p>
    </div>
    <div class="content-handler">
        <button class="btn btn-success contact-btn">
            @if (lang=="Uzbek") {
            Telefon qilish
            }
            @else if (lang=="Russian") {
            Позвонить
            }
        </button>
        <button class="btn btn-primary contact-btn">
            @if (lang=="Uzbek") {
            Telegram
            }
            @else if (lang=="Russian") {
            Телеграм
            }
        </button>
    </div>
</div>