<div class="main">
    <div class="top-section">
        <div class="custom-card">
            <h3>
                @if (lang=="Uzbek") {
                Kontaktlarimiz
                }
                @else if (lang=="Russian") {
                Наши контакты
                }
            </h3>
            <p>(93)-538-22-10</p>
            <p>(93)-538-22-10</p>
            <p>(93)-538-22-10</p>
        </div>
        <div class="custom-card">
            <h3>
                @if (lang=="Uzbek") {
                Ijtimoiy tarmoqlar
                }
                @else if (lang=="Russian") {
                Социальные сети
                }
            </h3>
            <a target="_blank" href="https://t.me/AbuProgrammiy"><img class="social-img" src="../../../assets/telegram-logo-mini.png"
                    alt=""></a>
            <a target="_blank" href="https://www.instagram.com/reel/C9rIbmRoXDb/?utm_source=ig_web_copy_link"><img class="social-img"
                    src="../../../assets/instagram-logo-mini.png" alt=""></a>
        </div>
        <div class="custom-card">
            <h3>
                @if (lang=="Uzbek") {
                Master Kotlov
                }
                @else if (lang=="Russian") {
                Мастер Котлов
                }
            </h3>
            <p class="description">
                @if (lang=="Uzbek") {
                Kompaniyaning vakolatli mutaxassislari tizimdagi barcha muammolarni tezda topib,
                bartaraf etishga qodir, shundan so'ng uskunalar muammosiz ishlay boshlaydi.
                }
                @else if (lang=="Russian") {
                Авторизованные специалисты компании быстро находят все проблемы в системе,
                можно устранить, после чего оборудование начнет работать без проблем.
                }
            </p>
        </div>
    </div>
    <div class="bottom-section">
        <div class="content-handler">
            <p class="bottom-text">
                @if (lang=="Uzbek") {
                © 2024 Barcha huquqlar himoyalangan. Website buyurtmalar uchun: <a
                    href="https://t.me/Abu_Programmiy" target="_blank">sharpist</a>
                }
                @else if (lang=="Russian") {
                © 2024 Все права защищены. Для заказов на сайте: <a target="_blank" href="https://t.me/Abu_Programmiy">sharpist</a>
                }
            </p>
        </div>
    </div>
</div>