<div class="main">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="#main-header"><img class="navbar-brand" src="../../../assets/logo.png" /></a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="nav-item dropdown">
                    <button class="btn lang-dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{lang}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a (click)="changeLang(secondaryLang)" class="dropdown-item">{{secondaryLang}}</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#service-types">
                            @if (lang=="Uzbek") {
                            Bizning xizmatlarimiz
                            }
                            @else if (lang=="Russian") {
                            Наши Услуги
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#collagues">
                            @if (lang=="Uzbek") {
                            Jamoamiz
                            }
                            @else if (lang=="Russian") {
                            Наша команда
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#brands">
                            @if (lang=="Uzbek") {
                            Hamkorlar
                            }
                            @else if (lang=="Russian") {
                            Бренды
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#snapshots">
                            @if (lang=="Uzbek") {
                            Ish jarayoni
                            }
                            @else if (lang=="Russian") {
                            Процесс работы
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#contacts">
                            @if (lang=="Uzbek") {
                            Kontaktlar
                            }
                            @else if (lang=="Russian") {
                            Контакты
                            }
                        </a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" target="_blank" href="https://t.me/AbuProgrammiy"><img
                                    class="telegram-logo" src="../../../assets/telegram-logo.png" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" target="_blank"
                                href="https://www.instagram.com/reel/C9UXZFFgXPM/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="><img
                                    class="telegram-logo" src="../../../assets/instagram-logo.png" /></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
</div>