.main{
    width: 100%;
    position: fixed;
    z-index: 3;
}

.navbar{
    background-color: yellow!important;
}

.navbar-brand{
    width: 150px;
    height: 50px;
}

.lang-dropdown{
    background-color: yellow;
}

.telegram-logo{
    width: 40px;
    height: 40px;
}