.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.inner-main{
    width: 100%;
}

.header-handler{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.carousel{
    width: 100%;
}

.carousel-item{
    padding: 50px;
}

.card-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-img-top{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-btn-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.worker-contact-btn{
    margin-left: 5px;
    margin-right: 5px;
}

.card-footer{
    text-align: center;
}