<div id="service-types" class="main">
    <div class="custom-card" data-aos="fade-up">
        <div class="content-handler">
            <img class="service-sign" src="../../../assets/service-sign-1.svg" alt="">
        </div>
        <div class="content-handler">
            <h6>
                @if (lang=="Uzbek") {
                REMONT KOTLOV TASHKENT
                }
                @else if (lang=="Russian") {
                ВСЕ ВИДЫ УСЛУГ РЕМОНТ КОТЛОВ
                }
            </h6>
        </div>
        <div class="content-handler">
            <p>
                @if (lang=="Uzbek") {
                Biz - loyihalash, o'rnatish, texnik xizmat ko'rsatish va joriy ta'mirlash ishlarini amalga oshiramiz!
                }
                @else if (lang=="Russian") {
                Работаем под ключ - ремонт котлов,проектирование, монтаж, обслуживание и текущий ремонт!
                }
            </p>
        </div>
    </div>

    <div class="custom-card" data-aos="fade-up">
        <div class="content-handler">
            <img class="service-sign" src="../../../assets/service-sign-2.svg" alt="">
        </div>
        <div class="content-handler">
            <h6>
                @if (lang=="Uzbek") {
                KAFOLAT BERAMIZ
                }
                @else if (lang=="Russian") {
                ДАЕМ ГАРАНТИЮ РЕМОНТ КОТЛОВ
                }
            </h6>
        </div>
        <div class="content-handler">
            <p>
                @if (lang=="Uzbek") {
                Barcha ishlar uchun kafolatimiz 1 yil. Barcha materiallar uchun ishlab chiqaruvchining kafolati!
                }
                @else if (lang=="Russian") {
                Наша гарантия на все работы 1 года. Гарантия производителя на все материалы!
                }
            </p>
        </div>
    </div>
    <div class="custom-card" data-aos="fade-up">
        <div class="content-handler">
            <img class="service-sign" src="../../../assets/service-sign-3.svg" alt="">
        </div>
        <div class="content-handler">
            <h6>
                @if (lang=="Uzbek") {
                QULAY NARXLAR
                }
                @else if (lang=="Russian") {
                ВЫГОДНЫЕ ЦЕНЫ РЕМОНТ КОТЛОВ И УСТАНОВКА КОТЛОВ
                }
            </h6>
        </div>
        <div class="content-handler">
            <p>
                @if (lang=="Uzbek") {
                Smetadagi xizmatlar uchun aniq va shaffof narxlar. Va materiallarga chegirma 30% ga etadi
                }
                @else if (lang=="Russian") {
                Понятные и прозрачные цены по услугам в смете. А скидка на материалы доходит до 30 %
                }
            </p>
        </div>
    </div>
    <div class="custom-card" data-aos="fade-up">
        <div class="content-handler">
            <img class="service-sign" src="../../../assets/service-sign-4.svg" alt="">
        </div>
        <div class="content-handler">
            <h6>
                @if (lang=="Uzbek") {
                BEPUL XIZMATLAR
                }
                @else if (lang=="Russian") {
                БЕСПЛАТНЫЕ УСЛУГИ
                }
            </h6>
        </div>
        <div class="content-handler">
            <p>
                @if (lang=="Uzbek") {
                Smetadagi xizmatlar uchun aniq va shaffof narxlar. Va materiallarga chegirma 30% gacha
                }
                @else if (lang=="Russian") {
                Все замеры, расчеты и консультации по проектам проводятся нашими специалистами бесплатно
                }
            </p>
        </div>
    </div>
    <div class="custom-card" data-aos="fade-up">
        <div class="content-handler">
            <img class="service-sign" src="../../../assets/service-sign-5.svg" alt="">
        </div>
        <div class="content-handler">
            <h6>
                @if (lang=="Uzbek") {
                BIZ SHARTNOMA BO'YICHA ISHLAYMIZ
                }
                @else if (lang=="Russian") {
                РАБОТАЕМ ПО ДОГОВОРУ
                }
            </h6>
        </div>
        <div class="content-handler">
            <p>
                @if (lang=="Uzbek") {
                Barcha ishlar shartnoma asosida amalga oshiriladi. Biz ishni oldindan belgilangan sanada bajaramiz!
                }
                @else if (lang=="Russian") {
                Все работы проводятся по договору. Выполняем работы в заранее оговоренные сроки!
                }
            </p>
        </div>
    </div>
    <div class="custom-card" data-aos="fade-up">
        <div class="content-handler">
            <img class="service-sign" src="../../../assets/service-sign-6.svg" alt="">
        </div>
        <div class="content-handler">
            <h6>
                @if (lang=="Uzbek") {
                SIFATLI ISHLAYMIZ
                }
                @else if (lang=="Russian") {
                КАЧЕСТВЕННЫЕ РАСХОДНЫЕ МАТЕРИАЛЫ
                }
            </h6>
        </div>
        <div class="content-handler">
            <p>
                @if (lang=="Uzbek") {
                Biz faqat ishonchli yetkazib beruvchilarning sertifikatlangan mahsulotlaridan foydalanamiz
                }
                @else if (lang=="Russian") {
                Используем только сертифицированную продукцию от проверенных поставщиков
                }
            </p>
        </div>
    </div>
</div>