<div id="brands" class="main">
    <div class="content-handler">
        <h1 class="main-header">
            @if (lang=="Uzbek") {
            BRENDLAR
            }
            @else if (lang=="Russian") {
            БРЕНДЫ
            }
        </h1>
    </div>
    <div class="brands-handler">
        <img class="brand-img" src="../../../assets/brand-1.png" alt="">
        <img class="brand-img" src="../../../assets/brand-2.png" alt="">
        <img class="brand-img" src="../../../assets/brand-3.png" alt="">
        <img class="brand-img" src="../../../assets/brand-4.png" alt="">
        <img class="brand-img" src="../../../assets/brand-5.png" alt="">
        <img class="brand-img" src="../../../assets/brand-16.png" alt="">
        <img class="brand-img" src="../../../assets/brand-7.png" alt="">
        <img class="brand-img" src="../../../assets/brand-8.png" alt="">
        <img class="brand-img" src="../../../assets/brand-9.png" alt="">
        <img class="brand-img" src="../../../assets/brand-10.png" alt="">
        <img class="brand-img" src="../../../assets/brand-11.png" alt="">
        <img class="brand-img" src="../../../assets/brand-12.png" alt="">
        <img class="brand-img" src="../../../assets/brand-13.png" alt="">
        <img class="brand-img" src="../../../assets/brand-14.png" alt="">
        <img class="brand-img" src="../../../assets/brand-15.png" alt="">
        <img class="brand-img" src="../../../assets/brand-16.png" alt="">
        <img class="brand-img" src="../../../assets/brand-17.png" alt="">
        <img class="brand-img" src="../../../assets/brand-18.png" alt="">
        <img class="brand-img" src="../../../assets/brand-19.png" alt="">
        <img class="brand-img" src="../../../assets/brand-20.png" alt="">
    </div>
</div>