<div class="main">
    <div class="inner-main">
        <div class="content-handler">
            <h1 class="header-context">
                Isitish qozonlarini yuqori sifatli kafolat bilan o'rnatish va ta'mirlash
            </h1>
            <p class="description-context">
                Isitish qozonlarining buzilishi ertami-kechmi har xil turdagi va ishlab chiqarish birliklari bilan sodir
                bo'ladi. Uskunaning iloji boricha uzoqroq xizmat qilishi uchun siz uni ehtiyotkorlik bilan
                ishlatishingiz va to'g'ri o'rnatishingiz kerak. Remont kotlov Tashkent
            </p>
            <div class="contact-handler">
                <a href="#phone-number" class="phone-number">📞 (93) 538 22 10</a>
                <a href="#phone-number" class="phone-number">📞 (93) 538 22 10</a>
            </div>
            <div class="contact-handler contact-btns">
                <button class="contact-btn btn btn-success">Call</button>
                <button class="contact-btn btn btn-primary">Telegram</button>
            </div>
        </div>
    </div>
</div>