.main {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../assets/plumber.png);
    background-size: cover;
}

.bg-image {
    width: 100%;
    object-fit: cover;
}

.inner-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(67, 67, 67, 0.7) 35%, rgba(0, 0, 0, 0.9) 75%);
}

.space-50{
    height: 50px;
}

.content-handler {
    max-width: 1000px;
    padding: 50px;
    color: white;
}

.header-context{
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
}

.description-context{
    font-size: 20px;
    font-weight: 400;
}

.contact-handler{
    display: flex;
}

.phone-number{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.phone-number:hover{
    color: gray;
}

.contact-btns{
    margin-top: 30px;
}

.contact-btn{
    width: 120px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0;
}